<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://amc-tracker-function-app-cbb3cfg7enara6ch.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9211555a-ce64-4581-a8fc-f475840727e8/resourceGroups/tracker-app/providers/Microsoft.Web/sites/amc-tracker-function-app</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://amc-tracker-function-app-cbb3cfg7enara6ch.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>